@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cedarville+Cursive&family=DynaPuff:wght@400..700&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-manrope-weight: 400; /* normal */
  --font-manrope-bold: 700;   /* bold */
  --font-geist-mono: "DM Sans", monospace;
  --font-fira-code: "Fira Code", monospace;
  --font-orbitron: "Orbitron", sans-serif;
  --font-spicy-rice: "Spicy Rice", cursive;
  --font-calligraffitti: "Calligraffitti", cursive;
  --font-zeyada: "Zeyada", cursive;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
  --font-cedarville: "Cedarville Cursive", cursive;
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-dyna-puff: "DynaPuff", cursive;
  --font-winky-rough: "Winky Rough", cursive;

}